<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}RE-ORDER{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger"  data-id="{{id}}">TRASH</button>
</li>