<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT!{{else}}DON't EAT!{{/if}}
	</button>

	<button class="delete-burger"  data-id="{{id}}">DELETE</button>
</li>